*{
    margin: 0;padding: 0;
}
.container{
    width: 450px;
    height: 350px;
    background:#fff;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 6px 9px 7px #757575;
    border:1px solid #eee; 
}
.form-title{
    width: 100%;
    padding: 30px 15px 10px 15px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #757575;
    line-height: 40px;
}
.form-box{
    position: relative;
    padding: 10px 5%;
    width: 90%;
}
.form-inputbox{
    width: 100%;
    border-bottom: 1px solid #757575;
    padding-top: 10px;
}
.form-inputbox>input{
    width: 100%;
    height: 40px;
    border: 0px;
    font-size: 21px;
    text-indent: 10px;
    text-align: center;
    transition: all 1s;
}
.form-inputbox>input:hover{
    border: 0px;
    box-shadow: 3px 5px 7px #3399ff;
}
.form-submitbox{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-submitbox>input{
    width: 100%;
    height: 100%;
    background:#3399ff;
    color: #fff; 
    border: 0px;
    border-radius: 7px;
}
.form-submitbox>input:hover{
    background:#3366ff;
}
.form-submitbox>input:active{
    background:#3366ff;
}

@media all and (max-width:500px){
    .container{
        width: 90%;
    }
    .form-title{
        font-size: 21px;
    }
    .form-inputbox>input{
    font-size: 16px;
    }
}